.logo {
  width: 176px;
  height: 52px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.logo:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .logo {
    width: 142px;
    height: 42px;
  }
}
