.places {
  width: calc(100% - 296px);
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}
