.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 720px){
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
}

