.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  margin: 0 auto;
  padding: 28px 0 56px;
}
@media screen and (max-width: 1024px){
  .header {
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 768px){
  .header {
    width: calc(100% - 48px);
  }
}
@media screen and (max-width: 320px){
  .header {
    padding: 16px 0 48px;
  }
}
