.footer__copyright {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
}

@media screen and (max-width: 420px) {
  .footer__copyright {
    margin-top: 48px;
  }
}
