.menu__link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFF;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.menu__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .menu__link {
    font-size: 24px;
    line-height: 24px;
  }
}
