.cover__subtitle {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  padding-top: 32px;
  color: #fff;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 270px;
  }
}
