.lead__caption {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  padding-top: 8px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 768px){
  .lead__caption {
    padding-left: 24px;
  }
}
