.place {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}
.place:not(:last-child) {
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px){
  .place {
    grid-column-gap: 32px;
  }
}
@media screen and (max-width: 768px){
  .place {
    grid-column-gap: 28px;
  }
  .place:not(:last-child) {
    margin-bottom: 73px;
  }
}
@media screen and (max-width: 500px){
  .place {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .place:not(:last-child) {
    margin-bottom: 50px;
  }
}
