.footer {
  width: calc(100% - 96px);
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 420px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 32px);
  }
}
