.place__url-heading {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAA;
  padding-bottom: 12px;
  margin: 0;
  text-transform: uppercase;
}
