.place__website {
  align-self: flex-end;
  max-width: 484px;
}

@media screen and (max-width: 500px) {
  .place__website {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 32px 0;
  }
}
